<% @quotes.each do |quote| %>
<%# originally had (if quote.price == 0) to only show new quotes %>
  <% if quote.price %>
    <p>new quote arriving!</p>
    <li><%= quote.price %></li>
    <li><%= quote.customer.name %></li>
    <li><%= quote.customer.adress %></li>
    <li><%= quote.customer.user_type %></li>
    <a href="/quotes/<%=quote.id%>">Start Quote</a>
  <% end %>

<% end %>