  <li><%= @quote.price %></li>
  <li><%= @quote.customer.name %></li>
  <li><%= @quote.customer.adress %></li>
  <li><%= @quote.customer.user_type %></li>

  <form action="<%= quote_url(@quote) %>" method="post">
    <input type='hidden' name='_method' value="PATCH"></input>
    <label>Price</label>
    <input type='number' step='0.01' name='quote[price]'></input>

    <button id='submit' type='submit'>Submit Price</button>
    <script type='text/javascript'>
      const btn = document.getElementById('submit');
      btn.addEventListener('click', function(e) {
        e.preventDefault();
        let data = e.target.value;
        console.log("event: ", e);
        console.log("data: ", data);
        $.ajax({
          method: 'patch',
          url: '/quotes/1',
          data: {quote: data}
        })
      });
    </script>
  </form>