  <li><%= @quote.price %></li>
  <li><%= @quote.customer.name %></li>
  <li><%= @quote.customer.adress %></li>
  <li><%= @quote.customer.user_type %></li>

  <form action="<%= quote_url(@quote) %>" method="post">
    <input type='hidden' name='_method' value="PATCH"></input>
    <label>Price</label>
    <input type='number' step='0.01' name='quote[price]'></input>

    <button id='submit' type='submit'>Submit Price</button>
  </form>